.navigation{
  background: white;
  height: 50px;
  overflow: hidden;
  padding: 0 calc(5vw + 5px);
  display: flex;
  justify-content: space-between;
}

.logo{
  color: black;
  font-size: 16px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.buttonWrapper{
  height: 20px;
  margin: 15px 0;
  overflow: hidden;
}

.buttonTextStudio{
  font-size: 16px;
  line-height: 20px;
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
  text-align: right;
}

.buttonTextProjects{
  font-size: 16px;
  line-height: 20px;
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
}
