.container{
  height: 100%;
  width: 90vw;
  scroll-snap-align: center;
  flex-shrink: 0;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
}

.projectTitle{
  flex-grow: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.projectDescription{
  flex-grow: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
  margin-bottom: 5px;
}

.projectImage{
  flex-grow: 1;
  width: 100%;
  background-color: #333333;
}
